{% extends 'base.html' %}
{% block content %}
<div class="col-md-3 col-md-offset-4 authorization" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="page-header">
      <h1>Декодирование токена</h1>
    </div>
    <div class="error"></div>
    <form action="/decode_token/" method="post" accept-charset="utf-8" id="decode-form"
          enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <label for="token">Введите ваш токен</label>
            <p><textarea id="token" name="token" type="text" value="" class="form-control" autofocus/></textarea></p>
        </div>
        <input type="submit" class="btn btn-success btn-lg" value="Войти"/>
    </form>
</div>
<div class="col-md-12">
    <div class="success"></div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" language="javascript">
        function payment_call() {
          var msg = $('#decode-form').serialize(),
                  error_div = $('.error'),
                  success_div = $('.success');

            $.ajax({
              type: 'POST',
              url: '/decode_token/',
              data: msg,
              success: function(response) {
                  console.log(response);
                  if (response['error'] != undefined){
                      console.log('Error');
                      error_div.addClass('alert alert-danger');
                      error_div.text(response['error']);
                  } else {
                      console.log('No error');
                      $('#decode-form').hide();
                      error_div.hide();
                      success_div.addClass('well');
                      success_div.html("Ваш ID пользователя: "+response['user_id']);
                  }
              },
              error:  function(xhr, str){
                  error_div.addClass('alert alert-danger');
                  error_div.text(str);
              }
            });
        }

        $('#decode-form').on('submit', function(event){
            event.preventDefault();
            console.log("form submitted!")  // sanity check
            payment_call();
        });
    </script>
{% endblock %}

