<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Быстро. Удобно. Недорого.">
    <title>Новый каршэринг</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Настоящий каршеринг</h1>
            <h2>Почему мы?</h2>
            <p>Новый вид городского транспорта. Поминутная аренда автомобиля</p>
            <p>Доступность 24 часа / 7 дней. Залог: отсутствует</li>
            <div class="list-group">
                {% for message in messages %}
                    {% include "message.html" %}
                {% end %}
            </div>
        </div>
    </div>
    <div class="container">
    </div>
</body>

