{% extends 'base.html' %}
{% block title %}Карта{% endblock %}

{% block style %}
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
    #map {
    height: 100%;
    }
{% endblock %}

{% block content %}
    <div id="map"></div>
{% endblock %}

{% block javascript %}
    <script>
        var cars = {};

        function initMap() {
            const spb = new google.maps.LatLng(59.940, 30.264);
            var map = new google.maps.Map(document.getElementById('map'), {
                center: spb,
                zoom: 11,
            });
            var infowindow = new google.maps.InfoWindow();
            setMarkers(map, infowindow);
        }

        function setMarkers(map, infowindow) {
            var markerIcon = {
              url: '/static/car-icon2.png',
              scaledSize: new google.maps.Size(60, 60),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(20,40)
            };

            for (i = 0; i < cars.length; i++) {
                var car = cars[i];
                var marker = new google.maps.Marker({
                    position: {lat: car['lat'], lng: car['long']},
                    map: map,
                    icon: markerIcon,
                });
                content = "<h3>" + car['car_model'] + "</h3>" +
                        "<a href='#'><p>Забронировать</p></a><a href='#'><p>Отменить аренду</p></a>" +
                        "<a href='#'><p>Начать поездку</p></a><a href='#'><p>Завершить</p></a>"

                setContent(map, marker, infowindow, content);
            }
        }

        function setContent(map, marker, infowindow, content) {
            google.maps.event.addListener(marker, 'click', (function(marker) {
                    return function() {
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                    }
                })(marker));
        };

        fetch('/api/cars/list/')
          .then(
            function(response) {
              response.json().then(function(data) {
                cars = data['cars'];
                console.log(cars);
                initMap();
              });
            }
          )
          .catch(function(err) {
            console.log('Fetch Error :-S', err);
            return false;
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap" async defer></script>
{% endblock %}