{% extends 'base.html' %}
{% block title %}Карта{% endblock %}

{% block style %}
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
    #map {
    height: 100%;
    }
{% endblock %}

{% block content %}
    <div id="map"></div>
{% endblock %}

{% block javascript %}
    <script>
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/api/cars/list/", false);
        xhr.send();
        var cars = JSON.parse(xhr.responseText).cars;

        function initMap() {
            const spb = new google.maps.LatLng(59.940, 30.264);
            var map = new google.maps.Map(document.getElementById('map'), {
                center: spb,
                zoom: 11,
            });
            var infowindow = new google.maps.InfoWindow();
            setMarkers(map, infowindow);
        }

        function setMarkers(map, infowindow) {
            var markerIcon = {
              url: '/static/car-icon2.png',
              scaledSize: new google.maps.Size(60, 60),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(20,40)
            };

            for (i = 0; i < cars.length; i++) {
                var car = cars[i];
                var marker = new google.maps.Marker({
                    position: {lat: car['lat'], lng: car['long']},
                    map: map,
                    icon: markerIcon,
                });
                content = "<h1>" + car['car_model'] + "</h1>" +
                        "<a href='#'><h3>Начать аренду</h3></a>" +
                        "<a href='#'><h3>Закончить аренду</h3></a>" +
                        "<a href='#'><h3>Забронировать</h3></a>" +
                        "<a href='#'><h3>Отменить бронь</h3></a>"

                setContent(map, marker, infowindow, content);
            }
        }

        function setContent(map, marker, infowindow, content) {
            google.maps.event.addListener(marker, 'click', (function(marker) {
                    return function() {
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                    }
                })(marker));
        }


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap" async defer></script>
{% endblock %}