{% extends 'base.html' %}
{% block content %}
    <div class="content container">
        <ol class="breadcrumb">
          <li><a href="/payments/">Платежи</a></li>
          <li>{{ invoice.uuid }}</li>
        </ol>
        <div class="col-md-4 payment">
        <h3>Платеж на сумму {{ invoice.summ }} руб.</h3>
            <form data-errors-container-id="InPlat_cardErrors">
                <div id="InPlat_cardErrors">
                </div>
            </form>
            <form id="InPlat_cardForm" data-action="/payments/{{ invoice.uuid }}/" data-ajax-url="demo" data-locale="ru" data-apikey="{{ inplat_api_key }}">
                <input type="hidden" name="invoice_id" value="{{ invoice.id }}">
                <div class="form-group">
                    <label for="InPlat_cardNumber">Номер карты</label>
                    <input id="InPlat_cardNumber" autocomplete="off" name="card-number" type="number" class="form-control" autofocus/>
                </div>
                <div class="form-group">
                    <label for="InPlat_cardExpirationMonth">Месяц</label>
                    <input id="InPlat_cardExpirationMonth" name="month" max="12" min="1" type="number" class="form-control" placeholder="MM"/>
                    <label for="InPlat_cardExpirationYear">Год</label>
                    <input id="InPlat_cardExpirationYear" name="year" max="2030" min="2017" type="number" class="form-control" placeholder="ГГ"/>
                </div>
                <div class="form-group">
                    <label for="InPlat_cardHolder">Владелец</label>
                    <input id="InPlat_cardHolder" name="card-holder" type="text" class="form-control" placeholder="IVAN IVANOV"/>
                    <br>
                    <label for="InPlat_cardCvv">CVV</label>
                    <input id="InPlat_cardCvv" name="cvv" max="999" min="001" type="number" class="form-control" placeholder="CVV"/>
                </div>
                <input type="submit" class="btn btn-default btn-lg" value="Оплатить {{ invoice.summ }} руб."/>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.src = "https://static.inplat.ru/public/prod/js/checkout.js?v=" + new Date().getTime();
        document.body.appendChild(s);
        window.InplatCheckoutValidation = function (errorsArray) {
            console.log('InplatCheckoutValidation', errorsArray);
        };
    </script>
{% endblock %}