{% extends 'base.html' %}
{% block content %}
    {% if not success %}
    <div class="col-md-3">
        <form action="/payment/" method="post" accept-charset="utf-8"
              enctype="application/x-www-form-urlencoded">

            <div class="form-group">
                <label for="card-number">Номер карты</label>
                <input id="card-number" name="card-number" type="text" value="" class="form-control" autofocus/>
            </div>
            <div class="form-group">
                <label for="password">Истекает</label>
                <input id="password" name="month" max="12" min="1" type="number" class="form-control" placeholder="MM"/>
                <input id="password" name="year" max="2030" min="2017" type="number" class="form-control" placeholder="ГГ"/>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Запомнить карту
                </label>
            </div>

            <input type="submit" class="btn btn-primary btn-lg" value="Оплатить"/>
        </form>
    </div>
    {% else %}
    <h1>Успешно оплачено</h1>
    {% endif %}
{% endblock %}