{% extends 'base.html' %}
{% block content %}
    <h3>Платеж на сумму {{ sum }} руб.</h3>
    <div class="col-md-4">
        <form id="payment-form" action="/rest/payment/" method="POST" accept-charset="utf-8">
            <input id="user-id" name="user-id" type="hidden" value="{{ user_id }}"/>
            <input id="account" name="account" type="hidden" value="{{ account }}"/>
            <input id="payment-sum" name="payment-sum" type="hidden" value="{{ sum }}"/>
            <div class="form-group">
                <label for="card-number">Номер карты</label>
                <input id="card-number" name="card-number" type="number" maxlength="12" value="" class="form-control" autofocus/>
            </div>
            <label for="password">Истекает</label>
                <div class="form-inline">
                    <input id="month" name="month" max="12" min="1" type="number" class="form-control" placeholder="MM"/>
                    <input id="year" name="year" max="2030" min="2017" type="number" class="form-control" placeholder="ГГ"/>
                </div>
            <br>
            <br>
            <label for="card-holder">Имя на карте и код безопасности</label>
            <div class="form-inline">
                <input id="card-holder" name="card-holder" type="text" class="form-control" placeholder="IVAN IVANOV"/>
                <input id="CVV" name="cvv" max="999" min="001" type="number" class="form-control" placeholder="CVV"/>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="link"> Запомнить карту
                </label>
            </div>

            <input type="submit" class="btn btn-default btn-lg" value="Оплатить"/>
        </form>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" language="javascript">
        function payment_call() {
          var msg   = $('#payment-form').serialize();
            console.log(msg);
            $.ajax({
              type: 'POST',
              url: '/rest/payment/',
              data: msg,
              success: function(response) {
                  console.log(response);
              },
              error:  function(xhr, str){
                  alert('Возникла ошибка: ' + xhr.responseCode);
              }
            });
        }

        $('#payment-form').on('submit', function(event){
            event.preventDefault();
            console.log("form submitted!")  // sanity check
            payment_call();
        });
    </script>
{% endblock %}